body {
 text-align: center; 
}
h1, h2, th, td {
  text-align: center;
  font-size: 12px;
  font-family: Ubuntu;
}
table {
  border-collapse: collapse;
  
}
table, th, td {
  border: 1px solid black;
}
th, td {
  vertical-align: center;
}
